.contact-now {
  width: 100%;
  background-color: $green;
  height: 70px;
  h4 {
    font-size: 14px;
    color: $white;
    display: inline;
    float: left;
    margin-top: 30px;
  }
  button {
    margin-top: 17px;
    display: inline-block;
    font-size: 13px;
    padding: 13px;
    text-transform: uppercase;
    background-color: $white;
    border: none;
    font-weight: 700;
    border-radius: 6px;
    float: right;
    margin-left: 8px;
    color: $grey;
  }
  button:hover {
    background-color: $title-color;
    color: $white;
    transition: all .3s;
  }
}