footer {
  background-color: $title-color;
  .social-network {
    height: 235px;
    .logo {
      margin-top: 35px;
    }
    ul {
      margin-top: 55px;
      li {
        display: inline-block;
        a {
          display: inline-block;
          height: 32px;
          width: 32px;
          border: 1px solid #5b5b5b;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          margin-right: 3px;
          position: relative;
          img {
            position: absolute;
            top: 20%;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }
      }
      a:hover {
        border-radius: 100%;
        transition: all .3s;
      }
    }
  }
  .contact {
    width: 100%;
    position: relative;
    iframe {
      width: 100%;
      height: 440px;
      z-index: 4;
    }
  }
  .message {
    background-color: #f9f9f9;
    text-align: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    height: 300px;
    width: 325px;
    padding-top: 15px;
    position: absolute;
    top: 70px;
    border: 1px solid #e8e8e8;
    .input {
      display: block;
      width: 256px;
      border: 1px solid #d7d7d7;
      background-color: #f9f9f9;
      padding: 15px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      color: #a5a5a5;
      font-style: italic;
      margin: 15px auto 0;
    }
    .submit {
      width: 288px;
      height: 35px;
      background-color: $green;
      color: $white;
      text-transform: uppercase;
      border: none;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
      margin-top: 15px;
      font-weight: 700;
    }
  }
  .bottom {
    height: 85px;
    p {
      color: #d2d2d2;
      text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
      font-size: 16px;
      padding-top: 45px;
      font-weight: 600;
    }
  }
}
