header {
  width: 100%;
  background-color: $beige;
  height: 656px;
  color: $title-color;
  text-transform: uppercase;
  .title-header {
    margin-top: 195px;
    width: 556px;
    float: left;
    h4{
      text-align: center;
      font-weight: 600;
      font-size: 19px;
    }
    h1 {
      font-weight: 800;
      font-size: 57px;
    }
    .word {
      text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
      font-weight: 500;
      text-align: center;
      padding: 10px 9px;
      color: white;
      background-color: $dark-brown;
      border-radius: 7px;
      width: 96%;
      margin-top: 12px;
      font-size: 15px;
      span {
        text-transform: capitalize;
        font-weight: 700;
        .green-letter {
          color: $green;
        }
      }
    }
    .paragraph {
      .short-line {
        width: 20.1%;
      }
    }
    .check-mark {
      margin: 40px 45%;
    }
  }
}